.login-page {
  display: flex;
  margin-top: 0;
}

.login-logo {
  position: fixed;
  display: flex;
  justify-content: flex-start;
  text-align: left;
  width: 140px;
  padding-top: 20px;
  padding-left: 20px;
  margin-bottom: 30px;
}

.login-body{
  display: flex;
  justify-content: center;
  margin: auto;
}

.login-card {
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  align-content: center;
  justify-content: center;
  width: 320px;
  margin-top: 60px;
  margin: auto;
  border: none;
  border-radius: 4px;
  font-size: 12px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.login-greeting {
  padding-top: 26px;
  padding-bottom: 10px;
  padding-left: 30px;
}

.login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.input-field {
  width: 240px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 6px;
  border: 1px solid;
  border-radius: 4px;
  font-size: 12px;
}

.input-field:hover,
.input-field:active,
.input-field:focus,
.input-field:focus-visible,
.input-field:focus-within {
  border-color: #337152;
}

.login-button {
  color: white;
  background-color: #c40f14;
  width: 98%;
  margin-top: 30px;
  padding-top: 16px;
  padding-bottom: 16px;
  border: none;
  border-radius: 4px;
  font-size: 12px;
}

.login-button:hover {
  background-color: #c40f14;
  cursor: pointer;
}

.errors {
  text-align: center;
  font-size: 15px;
  color: crimson;
  margin: 0;
}

.sign-up-link {
  font-size: 13px;
  font-weight: 300;
  padding-left: 30px;
  padding-top: 20px;
}

a {
  color: white;
  text-decoration: none;
}

.login-disclaimer {
  color: rgb(169, 169, 169);
  font-size: 11px;
  font-weight: 300;
  letter-spacing: 1.25px;
  line-height: 1.25;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 12px;
  margin-bottom: 30px;
}