#edit-person-card {
  color:white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  /* padding: 20px; */
  padding-bottom: 40px !important;
  margin: auto;
  /* margin-bottom: 30px !important; */
  /* margin-top: 40px; */
  background-color: #000;
  border-radius: 3px;
}

.edit-person-form {
  display: flex;
  justify-content: center;
  align-content: flex-start;
  margin-bottom: 20px;
}

#person-button {
  color: white;
  background-color: #c40f14;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px !important;
  padding-top: 16px;
  padding-bottom: 16px;
  border: none;
  border-radius: 4px;
  font-size: 12px;
  text-align: center;
}

#person-button:hover {
  cursor: pointer;
  font-weight: 700;
}

#person-save-button {
  color: white;
  background-color: #c40f14;
  width: 200px;
  margin: auto;
  margin-top: 30px;
  padding-top: 16px;
  padding-bottom: 16px;
  border: none;
  border-radius: 4px;
  font-size: 12px;
  text-align: center;
}

#person-save-button:hover {
  cursor: pointer;
  font-weight: 800;
  /* transform: scale(1.03); */
}