.select-user-page {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.logo {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 80px;
}

.welcome-greeting {
  color: white;
  text-align: center;
  font-size: 42px;
  font-weight: 300;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.select-users{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row !important;
  justify-content: space-around;
  width: 500px;
}

.select-user {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row !important;
  color: #777;
}

.select-user:hover{
  color: white !important;
  cursor: pointer;
}

.select-user-avatar {
  width: 80px;
  height: 80px;
  margin: auto;
  margin-top: 20px;
  border-radius: 4px;
  background-color: #222;
  justify-content: center;
}

.select-user-name{
  padding-top: 10px;
}

.select-user-avatar:hover {
  box-sizing: border-box;
  border: 2px solid #fff;
}

.sign-out-button{
  margin-top: 60px;
}


.select-user-avatars {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 460px;
  margin-top: 20px;
}

.select-user-avatar {
  display: grid;
  flex-wrap: wrap;
  flex-direction: column;
  width: 80px;
  height: 80px;
  font-size: 13px;
  overflow: hidden;
  margin-bottom: 10px;
  border-radius: 4px;
  background-color: #222;
}

.select-user-avatar:hover {
  cursor: pointer;
  border: 2px solid white;
  box-sizing: border-box;
}

.select-user {
  color: #777;
  font-size: 16px;
  text-align: center;
  padding-top: 10px;
}

.select-user:hover{
  color: white;
}

.profile-button {
  background-color: transparent;
  border: 1px solid #777;
  color: #777;
  letter-spacing: 1px;
  margin-top: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.profile-button:hover {
  border: 1px solid white;
  color: white;
  cursor: pointer;
}


.select-user-avatars {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 460px;
  margin-top: 20px;
}

.select-user-avatar {
  display: grid;
  flex-wrap: wrap;
  flex-direction: column;
  width: 80px;
  height: 80px;
  font-size: 13px;
  overflow: hidden;
  margin-bottom: 10px;
  border-radius: 4px;
  background-color: #222;
}

.select-user-avatar:hover {
  cursor: pointer;
  border: 2px solid white;
  box-sizing: border-box;
}

.select-user {
  color: #777;
  font-size: 16px;
  text-align: center;
  padding-top: 10px;
}

.select-user:hover{
  color: white;
}

.profile-button {
  background-color: transparent;
  border: 1px solid #777;
  color: #777;
  letter-spacing: 1px;
  margin-top: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.profile-button:hover {
  border: 1px solid white;
  color: white;
  cursor: pointer;
}