.signup-page {
  display: flex;
  margin-top: 0;
  justify-content: center;
}

.signup-logo {
  position: fixed;
  display: flex;
  justify-content: flex-start;
  text-align: left;
  width: 140px;
  padding-top: 20px;
  padding-left: 20px;
  margin-bottom: 30px;
}

.signup-body{
  display: flex;
  justify-content: center;
  margin: auto;
}


.signup-card {
  color:white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  padding: 20px;
  padding-bottom: 40px;
  margin: auto;
  margin-top: 40px;
  background-color: #000;
  border-radius: 3px;
}

.signup-form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.signup-inputs {
  justify-content: center;
  margin: auto;
}

.greeting {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.subheading {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.back-link {
  font-size: 11px;
}

.back-link:hover {
  color: #c40f14;
  cursor: pointer;
}

.button {
  color: white;
  background-color: #c40f14;
  width: 200px;
  margin: auto;
  margin-top: 30px;
  padding-top: 16px;
  padding-bottom: 16px;
  border: none;
  border-radius: 4px;
  font-size: 12px;
}

.button:hover {
  background-color: #c40f14;
  cursor: pointer;
}

.avatar-section{
  justify-content: space-around;
}

.avatars {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.signup-avatars{
  background-color: #333;
  margin-left: 10px;
  width: 50px;
  height: 50px;
  border: 1px solid #202020;
  transition: transform 450ms;
}

.signup-avatars:hover{
  transform: scale(1.1);
  cursor: pointer;
}