body {
  background-color: #111;
}

.user-profile {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  width: 400px;
  padding: 20px;
  padding-bottom: 40px;
  margin: auto;
  margin-top: 40px;
  background-color: #000;
  border-radius: 3px;
}

.greeting {
  color: white;
  text-align: center;
  padding-top: 20px;
}

.avatar {
  width: 100px;
  height: 100px;
  margin: auto;
  margin-top: 30px
}

.back-link {
  font-size: 12px;
}

.back-link:hover {
  color: #c40f14;
  cursor: pointer;
}

.button {
  color: white;
  background-color: #c40f14;
  width: 200px;
  margin: auto;
  margin-top: 30px;
  padding-top: 16px;
  padding-bottom: 16px;
  border: none;
  border-radius: 4px;
  font-size: 12px;
}

.button:hover {
  background-color: #c40f14;
  cursor: pointer;
}

.my-faves {
  color: white;
  text-align: center;
  margin-top: 30px;
}
.myfaves-movies {
  color: #fff;
  margin-left: 20px;
  justify-content: center;
}

.myfaves-posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}

.myfaves-posters::-webkit-scrollbar {
  display: none;
}
